build/
venv*/
*.pyc
*~
.*.kate-swp
.snakemake/
^data/
tmp/
*.bak
MANIFEST
raw/
doc/_build
dist/
giggles.egg-info/
.tox
.idea
/.pytest_cache
.eggs/
giggles/_version.py
giggles/__pycache__/*.pyc
giggles/cli/__pycache__/*.pyc
.vscode/
test/